@model LinktreeApp.Models.Link

<h1>Add New Link</h1>

<form method="post">
    <div>
        <label>Title</label>
        <input type="text" name="Title" />
    </div>
    <div>
        <label>Url</label>
        <input type="text" name="Url" />
    </div>
    <button type="submit">Add</button>
</form>
