@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Estilo para o título */
h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

/* Estilo para a lista de links */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Estilo para cada item da lista */
li {
    margin: 10px 0;
    text-align: center;
}

/* Estilo para os links */
a {
    text-decoration: none;
    color: #007bff;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}

    a:hover {
        background-color: #007bff;
        color: #fff;
    }
